body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bebdbd;
  font-family: "Montserrat";
}

#util-1 {
  display: flex;
  flex-direction: column;

  width: 88vw;
  align-items: center;
  border-radius: 50px;
  background: #bebdbd;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
#chat {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
    max-width: 50%;
  align-items: flex-start;
}

.message {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
}
.name {
  font-size: 15px;
  font-weight: 400;
  font-family: "Lato";
}
#chat-input {
  background-color: #ddd8d8;
  border: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
cite {
  font-size: 10px;
  font-weight: 500;
  color: rgb(48, 41, 41);
}
/* cite:hover{

    color: rgb(24, 24, 24);

} */

#name-input {
  background-color: #bebdbd;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
#send {
  background-color: #bebdbd;
  cursor: pointer;
}
button:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
#name-input:focus {
  outline: none;
}
