body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bebdbd;
  font-family: "Kiwi Maru";
}
html {
  scroll-behavior: auto;
}
.header {
  background: #000;
  border-radius: 50px 50px 8px 8px;
  color: #ddd8d8;
  padding: 35px 15px 20px 15px;
  text-align: center;
  font-family:"Raleway";
  font-size: 21px;
  font-weight: 500;
  width: 86vw;
  border-bottom: 1px solid #7a7979;

}

#util-1 {
  display: flex;
  flex-direction: column;

  width: 88vw;
  align-items: center;
  border-radius:50px;
  background: #bebdbd;
  box-shadow: 20px 20px 60px #505050, -20px -20px 60px #8b8b8b;
}
#chat {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 50%;
  overflow-wrap: break-word;
  align-items: flex-start;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #bebdbd;
}
::-webkit-scrollbar-track {
  border: 1px solid rgb(91, 92, 91);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(91, 92, 91);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 92, 91);
}

.message {
  font-size: 20px;
  font-weight: 500;
  font-family: "Source Code Pro";
}
.name {
  font-size: 15px;
  font-weight: 400;
  font-family: "Lato";
}
#chat-input {
  background-color: #ddd8d8;
  border: 0px;
  margin-top: 5px;
}
cite {
  font-size: 10px;
  font-weight: 600;
  color: rgb(48, 41, 41);
}
/* cite:hover{

    color: rgb(24, 24, 24);

} */

#name-input {
  background-color: #bebdbd;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
#send {
  background-color: #bebdbd;
  cursor: pointer;
}
button:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
#name-input:focus {
  outline: none;
}
